body {
	
	background-color: black;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
}

p {
	
	color: gray;
}

h1 {
	color: orange;
	font-size: 48px;
}

h3{
	color: orange;
	
}

a {
    font-weight: 200;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: underline;
    text-transform: none;
    color: pink;
}